<% include ../header %>
<header>
    <h1>Nodetalk</h1>
    <h4>Contacts</h4>
</header>
<section>
    <p>Welcome <%- user.name %></p>
</section>
<section>
    <form action="/contacts" method="POST">
        <input type="text" name="contact[name]" placeholder="name"/>
        <input type="text" name="contact[email]" placeholder="email"/>
        <button type="submit">Save</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% contacts.forEach((contact, index) => { %>
                <tr>
                    <td><%- contact.name %></td>
                    <td><%- contact.email %></td>
                    <td>
                        <a href="/contacts/<%- index%>">Details</a>
                        <a href="/chat" id="chat_<%- contact.email %>">Chat</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</section>
<% include notify_scripts %>
<% include ../exit %>
<% include ../footer %>